{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mp06 </title>

    {% block head %}


        {% include 'material/includes/material_css.html' %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{##}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js" integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js" integrity="sha384-hC7RwS0Uz+TOt6rNG8GX0xYCJ2EydZt1HeElNwQqW+3udRol4XwyBfISrNDgQcGA" crossorigin="anonymous"></script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">



{##}
        {% include 'material/includes/material_css.html' %}
{#        <script src="{% static 'material/js/jquery.js' %}"></script>#}
        {% include 'material/includes/material_js.html' %}

{#        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
{#        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>#}

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
      html, body {
          background: #eee;
          height: 100%;
      }
    </style>

    {% block extrahead %}{% endblock %}
    {% endblock %}
</head>

{% block breadcrumbs_items %}
{% endblock %}

<body class="valign-wrapper2">
      {% block sidebar %}{% endblock %}

      <div class="{% block container_class %}container expand-on-small-only{% endblock %}">
          {% block content %}
                {#   content              #}
          {% endblock %}
      </div>

      {% block js %}
{#         <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>#}
         {% include 'material/includes/material_js.html' %}

         {% block extrajs %}{% endblock %}
      {% endblock %}
  </body>
</html>