{% load staticfiles %}
{% load sitetree %}
{% load i18n material_frontend %}

<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
    	        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	        <meta name="viewport" content="width=device-width, initial-scale=1">


		    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{##}
           {% include 'material/includes/material_css.html' %}
            <script src="{% static 'material/js/jquery.js' %}"></script>
            {% include 'material/includes/material_js.html' %}

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</head>
<body>

<a href="{% url 'mp08:mp_add' %}" class="btn btn-raised btn-danger">Add packege</a><br>


{#{% sitetree_menu from "test" include "this-children" %}#}
<br>
{% for item in sitetree_items %}
        <li role="presentation" {% if item.is_current or item.in_current_branch %}class="active"{% endif %}>
            <a role="menuitem" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %}>{{ item.title_resolved }}</a>
        </li>
    {% endfor %}
{#{% sitetree_menu from "basetree" include "this-children"  template "sitetree/breadcrumbs_bootstrap3.html"  %}#}
<ul>
    <li>
        <a href="/test/">главная</a>
        <ul>
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr>
                  <th class="mdl-data-table__cell--non-numeric">Наименование</th>
                  <th>_</th>
                  <th>+</th>
                </tr>
              </thead>
              <tbody>
                   {% for object in mp_list %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{ object.guid }}</td>
                            <a href="{{ object.get_absolute_url }}">{{ object.guid }}</a>
                            <td>
                             (<a href="{% url "mp08:package_update" pk=object.id %}">update</a>) |
                            </td>
                            <td>
                             (<a href="{% url "mp08:package_delete" pk=object.id %}">delete</a>)
                            </td>
                         </tr>
                    {% empty %}
        {#                <li>No page yet.</li>#}
                    {% endfor %}
              </tbody>
            </table>


        </ul>
    </li>
</ul>


<div class="container">
    {% sitetree_breadcrumbs from "test" template "sitetree/breadcrumbs_bootstrap3.html" %}
</div>

{% block content %}

{% endblock %}

{% block mp_detail %}
    Poehali
    {% block test_page_detail %}
    {% endblock %}
{% endblock %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% include 'material/includes/material_js.html' %}
</body>
