{% extends "student/wizard_template.html" %}
{% load i18n %}
{% block title_wizard %}
    Добавление студета
{% endblock %}
{% block form_wizard %}
    {% include "student/input_field.html" with f=wizard.form.sex %}
    {% include "student/input_field.html" with f=wizard.form.citizenship %}
    {% include "student/input_field.html" with f=wizard.form.doc %}
    {% include "student/input_field.html" with f=wizard.form.student_document_type %}
    {% include "student/input_field.html" with f=wizard.form.parent_document_type %}
    {% include "student/input_field.html" with f=wizard.form.event_date %}
    {% include "student/input_field.html" with f=wizard.form.fio %}
{% endblock %}
{% block button_wizard %}
    <button type="submit" class="btn btn-primary">
        <i class="icon-user icon-white"></i> Контракт <i class="icon-arrow-right icon-white"></i>
    </button>
{% endblock %}
