{% extends 'index.html' %}

{% block cat_deteail %}
     <h1>categoty</h1>
    {{ object.title }}
    <br>
    <div class="row">
    <div class="container">
    <h4>pages</h4>
        <ul>
        {% for categor in pages %}
            <li>
            <a href="{{ categor.get_absolute_url }}">{{ categor.title }}</a>
             </li>
        {% empty %}
            <li>No categoty yet.</li>
        {% endfor %}
     </ul>
    </div>
    </div>
    <br>
    <a href="#" onclick="history.back();">назад</a>
{#     <a href="{{ categor.get_absolute_url }}">{{ categor.title }}</a>#}
{% endblock %}